<div class="appCard">
  <div class="appCardTitle">
    <div class="appCardTitleTransferImage">
      Make a Transfer
    </div>
  </div>
  <div class="appCardBody">
    <div *ngIf="currentStep==='form'">
      <form #transferForm="ngForm" (ngSubmit)="onSubmit(transferForm)">

        <div class="form-group">
          <label for="fromAccount">FROM ACCOUNT</label>
          <input type="text" class="form-control appInput" name="fromAccount" placeholder="Free Checking(4692): {{accountAmount | currency:'CAD':'symbol-narrow':'1.2-2'}}" ngModel
            disabled>
        </div>
    
        <div class="form-group">
          <label for="merchantName">RECIPIENT NAME</label>
          <input type="text" class="form-control appInput" name="merchantName" id="merchantName" [(ngModel)]="formDataValues.merchantName" required #merchantName="ngModel">
          <div *ngIf="(merchantName.invalid && (merchantName.dirty || merchantName.touched || isSubmitClicked))" class="overdraftWarning">
            <small *ngIf="merchantName.errors.required">
              Recipient name is required.
            </small>
          </div>
        </div>
    
        <div class="form-group">
          <label for="toAccount">TO ACCOUNT</label>
          <input type="text" class="form-control appInput" name="toAccount" id="toAccount" [(ngModel)]="formDataValues.toAccount" required iban="toAccount" #toAccount="ngModel">
          <div *ngIf="(toAccount.invalid && (toAccount.dirty || toAccount.touched || isSubmitClicked))" class="overdraftWarning">
            <small *ngIf="toAccount.errors.required">
              Account number is required.
            </small>
            <small *ngIf="toAccount.errors.ibanValid">
              IBAN is invalid.
            </small>
          </div>
        </div>
    
        <div class="form-group">
          <label for="amount">AMOUNT</label>
          <input type="number" 
            class="form-control appInput" 
            name="amount" 
            id="amount"
            placeholder="$ 0.00"
            [(ngModel)]="formDataValues.amount"
            required
            amountMaxValue="{{accountAmount + 500}}"
            #amount="ngModel">
          <div *ngIf="(amount.invalid && (amount.dirty || amount.touched || isSubmitClicked))" class="overdraftWarning">
            <small *ngIf="amount.errors.required">
              Amount is required.
            </small>
            <small *ngIf="amount.errors.maxValue">
              Insufficient founds.
            </small>
            <small *ngIf="amount.errors.minValue">
              Amount can not be negative.
            </small>
          </div>
        </div>

        <div class="text-right">
          <button type="submit" class="btn submit-btn">SUBMIT</button>
        </div>

      </form>
    </div>
    <div *ngIf="currentStep==='preview'">
      <div class="form-group">
        <p>You will transfer {{formDataValues.amount | currency:'CAD':'symbol-narrow':'1.2-2'}}.</p>
        <p>Recipient: {{formDataValues.merchantName}}</p>
        <p>Account number: {{formDataValues.toAccount}}</p>
      </div>
      <div class="text-right">
        <button type="button" class="btn submit-btn" (click)="onTransfer(transferForm)">TRANSFER</button>
      </div>
    </div>
  </div>
</div>